*{
  box-sizing: border-box;
}

.chartContainer{
  padding: 2rem;
}


.ReporteMontoContainer{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 500px)
{
  .chartContainer{
    padding: 2rem 0;
  }

}
