
    <div class="container">

                    <h1 class="font-weight-bold title">Crea tu cuenta de Comprador</h1>
                    <div class="content">
                              <h2 class="text-muted">Ingrese la siguiente información para registrarte.</h2>
                              <div class="form-container">
                              <form [formGroup]="myForm" class="form-row" id="container" autocomplete="off">
                                <div class="first-part">
                                    <mat-form-field class="form-group col-md-6">
                                      <mat-label class="font-weight-bold">DNI</mat-label>
                                      <input formControlName="dni" type="number" matInput class="form-control" placeholder="Ingresa su DNI">
                                      <mat-error *ngIf="myForm.controls['dni'].hasError('required')" class="message-error">El DNI es requerido</mat-error>
                                      <mat-error *ngIf="myForm.controls['dni'].hasError('min') || myForm.controls['dni'].hasError('max')" class="message-error">Tiene que teber 8 díditos</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-group col-md-6">
                                      <mat-label class="font-weight-bold">Nombres</mat-label>
                                      <input formControlName="nombres" matInput class="form-control" placeholder="Ingresa sus nombres">
                                      <mat-error *ngIf="myForm.controls['nombres'].hasError('required')" class="message-error">Sus nombres son requeridos</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-group col-md-6">
                                      <mat-label class="font-weight-bold">Apellido Paterno</mat-label>
                                      <input formControlName="apellidoPaterno" matInput class="form-control" placeholder="Ingresa su apellido paterno">
                                      <mat-error *ngIf="myForm.controls['apellidoPaterno'].hasError('required')" class="message-error">Su apellido paterno es requerido</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-group col-md-6">
                                      <mat-label class="font-weight-bold">Apellido Materno</mat-label>
                                      <input formControlName="apellidoMaterno" matInput class="form-control" placeholder="Ingresa su apellido materno">
                                      <mat-error *ngIf="myForm.controls['apellidoMaterno'].hasError('required')" class="message-error">Su apellido materno es requerido</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-group col-md-6">
                                      <mat-select class="select" formControlName="sexo" placeholder="Seleccione su sexo" required>
                                        <mat-option value="Masculino"> Masculino </mat-option>
                                        <mat-option value="Femenino"> Femenino </mat-option>
                                        <mat-option value="LGBTIQ PLUS Z KAI">LGBTIQ PLUS Z KAI</mat-option>
                                        <mat-option value="Indefinido"> Prefiero no decirlo  </mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="myForm.controls['sexo'].hasError('required')" class="message-error">El sexo es requerido</mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="form-group col-md-6">
                                    <mat-label class="font-weight-bold">Correo electrónico</mat-label>
                                      <input formControlName="correo" matInput class="form-control" placeholder="Ingresa el correo">
                                      <mat-error *ngIf="myForm.controls['correo'].hasError('required')" class="message-error">El correo electrónico es requerido</mat-error>
                                      <mat-error *ngIf="myForm.controls['correo'].hasError('email')" class="message-error">El correo electrónico es inválido</mat-error>
                                  </mat-form-field>
                                  <div class="first-button"></div>
                                  <button mat-raised-button class="btn first-button" type="button" (click)="onNextClick()">Siguiente</button>
                                </div>
                                <div class="first-options">
                                  <div class="form-group col-md-6">
                                      <div class="form-check">
                                          <mat-label class="form-check-label text-muted">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad</mat-label>
                                      </div>
                                  </div>
                                  <div class="button-container">
                                  <button
                                  class="btn btn-primary"
                                  mat-raised-button
                                  (click)="saveCliente()"
                                  [disabled]="myForm.invalid"
                                  >
                                  Registrate
                                  </button>
                                  <button
                                  class="btn btn-primary"
                                  mat-raised-button
                                  routerLink="/home/registrotipo"
                                  >
                                  Cancelar
                                  </button>
                                  </div>
                                </div>
                                <div class="second-part">
                                  <mat-form-field class="form-group col-md-6">
                                    <mat-label class="font-weight-bold">Número de celular</mat-label>
                                    <input formControlName="celular" type="number" matInput class="form-control" placeholder="Ingresa su npumero de celular">
                                    <mat-error *ngIf="myForm.controls['celular'].hasError('required')" class="message-error">El número de celular es requerido</mat-error>
                                    <mat-error *ngIf="myForm.controls['celular'].hasError('min') || myForm.controls['dni'].hasError('max')" class="message-error">Tiene que teber 9 díditos y empezar con 9</mat-error>

                                  </mat-form-field>
                                  <mat-form-field class="form-group col-md-6">
                                    <mat-label class="font-weight-bold">Seleccione su fecha de nacimiento</mat-label>
                                    <input matInput [matDatepicker]="picker" placeholder="Seleccione una fecha" formControlName="fechaNacimiento" class="form-control">
                                    <mat-datepicker-toggle matSuffix [for]="picker" class="schedule"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="myForm.controls['fechaNacimiento'].hasError('required')" class="message-error">Fecha inválida</mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="form-group col-md-6">
                                    <mat-label class="font-weight-bold">Dirección</mat-label>
                                    <input formControlName="direccion" matInput class="form-control" placeholder="Ingrese su dirección">
                                    <mat-error *ngIf="myForm.controls['direccion'].hasError('required')" class="message-error">La dirección es requerida</mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="form-group col-md-6">
                                    <mat-label class="font-weight-bold">Distrito</mat-label>
                                    <mat-select class="select" formControlName="distrito" placeholder="Seleccione su distrito"  [(value)]="idDistrito" required>
                                              <mat-option *ngFor="let element of distritos" [value]="element.id">
                                                {{element.nombreDistrito}}
                                              </mat-option>
                                          </mat-select>
                                          <mat-error *ngIf="myForm.controls['distrito'].hasError('required')" class="message-error">El distrito es requerido</mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="form-group col-md-6">
                                    <mat-label class="font-weight-bold">Contraseña</mat-label>
                                    <input formControlName="contraseña" type="password"  matInput class="form-control" placeholder="Ingrese su dirección">
                                    <mat-error *ngIf="myForm.controls['contraseña'].hasError('required')" class="message-error">La dirección es requerida</mat-error>
                                    <mat-error *ngIf="myForm.controls['contraseña'].hasError('minlength')" class="message-error">Tu contraseña debe tener como mínimo 8 caracteres</mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="form-group col-md-6">
                                    <mat-label class="font-weight-bold">Confirmar contraseña</mat-label>
                                    <input formControlName="confContraseña" type="password"  matInput class="form-control" placeholder="Repita su contraseña">
                                    <mat-error *ngIf="myForm.controls['confContraseña'].hasError('required')" class="message-error">Repita su contraseña</mat-error>
                                  </mat-form-field>
                                  <button mat-raised-button class="btn second-button" type="button" (click)="onPreviousClick()">Anterior</button>
                                </div>
                                  <div class="form-group col-md-6">
                                      <div class="form-check">
                                          <mat-label class="form-check-label text-muted">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad</mat-label>
                                      </div>
                                  </div>
                                  <div class="button-container">
                                  <button
                                  class="btn btn-primary"
                                  mat-raised-button
                                  (click)="saveCliente()"
                                  [disabled]="myForm.invalid"
                                  >
                                  Registrate
                                  </button>
                                  <button
                                  class="btn btn-primary"
                                  mat-raised-button
                                  routerLink="/home/registrotipo"
                                  >
                                  Cancelar
                                  </button>
                                  </div>
                              </form>
                            </div>
                  </div>
      </div>

