 <div class="container">
  <h2>Mi Carrito</h2>

                <div class="information">

                    <div class="products-container">
                            <form [formGroup]="myForm" class="products" autocomplete="off">
                              <div class="product first-line">
                                <p>Productos</p>
                                <p class="normal">Precio</p>
                                <p>Cantidad</p>
                                <p class="normal">Subtotal</p>
                                <p>Eliminar</p>
                            </div>
                            <div class="product only-product" *ngFor="let element of productosCarrito;let indice = index">
                                    <p class="product-name">{{element.nombre}}</p>
                                    <p class="normal">S/. {{element.precio.toFixed(2)}}</p>
                                    <div class="cantidad-container">
                                      <mat-icon class="icon" (click) = "disminuirCantidad(element.id)">remove</mat-icon>
                                      <p>{{getCantidad(element.id)}}</p>
                                      <mat-icon class="icon" (click) = "aumentarCantidad(element.id, element.stock)">add</mat-icon>
                                    </div>
                                    <p class="normal">S/. {{ getSubtotal(element.id, element.precio) }}</p>
                                    <mat-icon (click)="eliminarProducto(indice)" class="delete-product">delete</mat-icon>
                            </div>
                            </form >
                    </div>

                    <div class="summary">
                      <p class="summary-inf summary-title">Resumen de compra</p>
                      <p class="subtotal summary-inf">Subtotal: S/.{{subtotal().toFixed(2)}}</p>
                      <p class="total summary-inf">Total a pagar: S/.{{subtotal().toFixed(2)}}</p>
                            <div class="summary-buttons">
                                <button mat-raised-button class="button" (click)="registrarVentas()">Comprar</button>
                                <button mat-raised-button class="clear-car" (click)="vaciarCarrito()">Vaciar</button>
                            </div>

                    </div>
                  </div>

      </div>
