<div class="container-main" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="title"></span>

    <div class="container-graphics">
      <div class="icon-content shopping-cart">
        <mat-icon class="icon shop-icon"
         mat-notification-icon routerLink="CarritoCompras">shopping_cart</mat-icon>
         <nav class="quantity" *ngIf="getCantidad()">{{getCantidad()}}</nav>
      </div>
      <div class="icon-content">
        <mat-icon class="icon" [matMenuTriggerFor]="menu">account_circle</mat-icon>
        <mat-menu #menu="matMenu" class="menu">
          <div class="name-container">
            <span>Bienvenido {{name}}</span>
          </div>
          <button mat-menu-item class="update-button" routerLink="ActualizarDatosCliente">
            <mat-icon>border_color</mat-icon>
            <span class="button-text">Actualizar datos</span>
          </button>
          <button mat-menu-item class="update-button" (click)="salir()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="button-text">Salir</span>
          </button>
        </mat-menu>
      </div>
      </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="responsive-menu"
    >
      <mat-nav-list>
        <mat-list-item
          [routerLinkActive]="['active-nav']"
          routerLink="Comprador"
        >
          <mat-icon class="nav-icon" mat-list-icon>home</mat-icon>
          <a class="nav-link" matLine>Inicio</a>
        </mat-list-item>

        <mat-list-item
          [routerLinkActive]="['active-nav']"
          routerLink="Busqueda"
        >
          <mat-icon class="nav-icon" mat-list-icon>add_shopping_cart</mat-icon>
          <a class="nav-link" matLine>Productos</a>
        </mat-list-item>

        <mat-list-item
          [routerLinkActive]="['active-nav']"
          routerLink="ReporteProductoCompras/{{idComprador}}"
        >
          <mat-icon class="nav-icon" mat-list-icon>assignment_turned_in</mat-icon>
          <a class="nav-link" matLine>Compras</a>
        </mat-list-item>

        <mat-list-item class="logout"
          [routerLinkActive]="['active-nav']"
          (click)="salir()"
        >
          <mat-icon class="nav-icon" mat-list-icon>exit_to_app</mat-icon>
          <a class="nav-link" matLine>Salir</a>
      </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
