<!-- <mat-toolbar>
    <img src="/assets/img/logo.png" class="logo">
    <div class="columna">
        <div class="c1">
          <mat-chip-list>
          <mat-chip class="opciones" routerLink="Comprador/{{idComprador}}">
           Inicio
          </mat-chip>
          <mat-chip class="opciones" routerLink="Busqueda/{{idComprador}}">
          Buscar Productos
          </mat-chip>
           <mat-chip class="opciones" routerLink="ReporteProductoCompras/{{idComprador}}">
            Reporte de Compras
          </mat-chip>
          <mat-chip class="opciones" (click)="salir()">
            Salir
            </mat-chip>
        </mat-chip-list>

        </div>
        <div>
            <mat-chip-list >
                <mat-chip class="opciones" routerLink="MedicamentosRecomendados/{{idComprador}}">
                  Medicamentos recomendados
                </mat-chip>
                <mat-chip class="opciones" routerLink="MostrarFarmacias/{{idComprador}}">
                  Farmacia
                </mat-chip>
                <mat-chip class="opciones" routerLink="ActualizarDatosCliente/{{idComprador}}">
                  Actualizar datos
                </mat-chip>
              </mat-chip-list>
        </div>
    </div>
    <img src="/assets/img/compra.PNG" class="compra" routerLink="CarritoCompras/{{idComprador}}">
</mat-toolbar>


<div class="content-wrapper">
  <router-outlet></router-outlet>
</div> -->
<div class="container-main" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="title"></span>

    <div class="container-graphics">
      <div class="notify-content">
        <mat-icon class="notify-icon" mat-notification-icon>shopping_cart</mat-icon>
      </div>
      <div class="user-content">
        <mat-icon class="user-icon">account_circle</mat-icon>
      </div>
      </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="responsive-menu"
    >
      <mat-nav-list>
        <mat-list-item
          [routerLinkActive]="['active-nav']"
          routerLink="Comprador"
        >
          <mat-icon class="nav-icon" mat-list-icon>home</mat-icon>
          <a class="nav-link" matLine>Inicio</a>
        </mat-list-item>

        <mat-list-item
          [routerLinkActive]="['active-nav']"
          routerLink="Busqueda"
        >
          <mat-icon class="nav-icon" mat-list-icon>add_shopping_cart</mat-icon>
          <a class="nav-link" matLine>Productos</a>
        </mat-list-item>

        <mat-list-item
          [routerLinkActive]="['active-nav']"
          routerLink="ReporteProductoCompras/{{idComprador}}"
        >
          <mat-icon class="nav-icon" mat-list-icon>assignment_turned_in</mat-icon>
          <a class="nav-link" matLine>Compras</a>
        </mat-list-item>

        <mat-list-item class="logout"
          [routerLinkActive]="['active-nav']"
          (click)="salir()"
        >
          <mat-icon class="nav-icon" mat-list-icon>exit_to_app</mat-icon>
          <a class="nav-link" matLine>Salir</a>
      </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
