*{
  box-sizing: border-box;
}

.container{
  padding: 2rem;
  min-width: 600px;
  background-color: #FFFFFF;
}

.buscador{
    margin: auto;
    width: 90%;
    height: auto;
}

.title{
  margin: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-product{
  width: 200px;
  background-color: #3f51b5;
  color: #FFFFFF ;
  max-height: 50px;
}

.mat-elevation-z8{
    margin: auto;
    width: 90%;
    height: auto;
}

.fondotabla{
  min-width: 600px;
  overflow: auto;
}

.add-circle{
  display: none;
}

.pointer{
  cursor: pointer;
}

.gray-row {
  background-color: rgba(128, 128, 128, 0.3);
  opacity: 0.7;
}

@media only screen and (max-width: 850px)
{
  .container{
    padding: 2rem 0;
  }

  .mat-elevation-z8{
    width: 100%;
  }

  .header{
    min-width: 600px;
  }

}
