*{
  box-sizing: border-box;
}

.container{
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #3f51b5, #6691e3);
}

.example-card {
    height: 600px;
    width: 500px;
    max-width: 100%;
    background: rgba(255, 255, 255, .2);
    position: relative;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 15px;
    margin: auto;
}

.img1{
  width: 200px;
  height: 200px;
}

.img2{
  width: 150px;
  height: 200px;
}

.content{
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

button{
  height: 50px;
  width: 100%;
}

.title{
  padding: 20px 10px;
  text-align: center;
  color: #FFF;
  font-size: 25px;
}

@media (max-width: 768px) {
  .example-card {
    height: auto;
    width: 100%;
    border-radius: 0;
  }

  .container{
    padding: 2rem 0;
  }

  .content{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 20px;
  }


}
