    <div class="container">
        <mat-card class="example-card" layout="row" layout-align="center center">
            <mat-card-title class="title">Regístrate según tu tipo de usuario</mat-card-title>
             <div class="content">
                <button mat-raised-button color="primary"  routerLink="../registroComprador">Comprador</button>
                <img class="img1" src="/assets/img/comprador.svg" alt="comprador">

                <button mat-raised-button color="primary" routerLink="../registroDueñoFarmacia">Dueño de farmacia</button>
                <img class="img2" src="/assets/img/farmacia.svg" alt="dueño-farmacia">
              </div>

        </mat-card>
    </div>
