    <div class="container">
        <mat-card class="example-card" layout="row" layout-align="center center">
            <mat-card-title class="title">Regístrate según tu tipo de usuario</mat-card-title>
             <div class="content">
                <button mat-raised-button color="primary"  routerLink="../registroComprador">Comprador</button>
                <div class="img-container">
                  <img class="img1 image" src="/assets/img/comprador.png" alt="comprador">
                </div>

                <button mat-raised-button color="primary" routerLink="../registroDueñoFarmacia">Dueño de farmacia</button>
                <div class="img-container">
                  <img class="img2 image" src="/assets/img/farmacia.png" alt="dueño-farmacia">
                </div>
              </div>

        </mat-card>
    </div>
