<div class="container">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"  [config]="slideConfig">
    <div ngxSlickItem class="slide" *ngFor="let slide of slides">
      <div class="image-container">
        <img src="assets/images/{{ slide.image }}" alt="{{ slide.title }}" class="image-slide">
      </div>
        <div class="slide-information">
          <h1 class="slide-title">{{ slide.title }}</h1>
          <p class="slide-text">{{ slide.description }}</p>
        </div>
    </div>
  </ngx-slick-carousel>
  <div class="details">
    <div class="detail-container" *ngFor="let image of images">
      <div class="image-container-detail">
        <mat-icon class="icon">{{image.url}}</mat-icon>
      </div>
      <div class="detail">
          <p class="detail-message">{{ image.detail }}</p>
      </div>
    </div>
  </div>
</div>
