<div class="container">

   <div class="image-container">
      <img src="/assets/img/logo.png" alt="babelfarma" class="logo">
   </div>
    <div class="section client">
        <div class="image-container">

        </div>
        <div class="information">
          <h2><b>Comprador</b></h2>
          <ul class="list">
              <li>Podrás acceder al   catálogo completo de medicamentos disponibles.</li>
              <li>Podrás recojer tus productos comprados en la farmacia o en tu domicilio.</li>
          </ul>
        </div>
      </div>

    <div class="section farmacia">
        <div class="information">
            <h2><b>Dueño de farmacia</b></h2>
            <ul class="list">
              <li>Podrás ofrecer los medicamentos que esten disponibles en tú farmacia.</li>
              <li>Podrás realizar tus ventas mediante la aplicación.</li>
            </ul>
        </div>
        <div class="image-container">

        </div>
    </div>
</div>

