
.button{
    margin: auto;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #3f51b5;
    border: none;
    cursor: pointer;
  }

.button:hover{
  background: linear-gradient(to bottom, transparent, #5d6bbd);
}

.button.active {
  background: linear-gradient(to bottom, transparent, #5d6bbd);
}

.buttons{
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.content-wrapper{
  min-height: 100vh;
  background: #FFF;
}

.container-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.responsive-menu{
  background-color: #F0EFFF;
}

.active-nav {
  background-color: rgba(0, 0, 0, 0.04);
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  background-color: #F0EFFF;
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.nav-link {
  width: 140px;
  color: #000;
}

.nav-icon {
  color: #000
}


.toolbar {
  color: #ffffff;
  background-color: #3f51b5;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.button-menu{
  display: none;
}

@media only screen and (max-width: 500px)
{
 .buttons{
  display: none;
 }

 .button-menu{
  display: block;
}

 .toolbar{
  justify-content: flex-start;
 }

}







