
   <mat-toolbar class="list-options">
      <mat-icon class="menu" (click)="toggleMenu()">menu</mat-icon>
      <div class="buttons">
        <button routerLink="Informacion" class="button">Información</button>
        <button routerLink="Contacatanos" class="button">Contáctanos</button>
        <button routerLink="Login" class="button">Login</button>
        <button routerLink="registrotipo" class="button">Regístate</button>
      </div>
    </mat-toolbar>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
