*{
  box-sizing: border-box;
}

mat-toolbar{
    background-color: #EEE9DA;
}

button{
    margin: auto;
    width: 250px;
}

button:hover{
  background-color: #3C84AB;
  color: #FFF;
}

.content-wrapper{
  background-image: url('/assets/img/fondo.png');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container__responsive{
  display: none;
}


@media screen and (max-width: 1040px) {
  .list-options {
    display: none;
  }

  .container__responsive {
    display: block;
    z-index: 100;
    max-width: 100%;
    background-color: #EEE9DA;
  }

  .container__responsive-button {
    margin: 0;
    z-index: 100;
    border: none;
    width: 40px;
    background-color: #EEE9DA;
    cursor: pointer;
    padding: 10px 0;
  }

  .container__responsive-options {
    margin: 0;
    position: absolute;
    width: 100vw;
    top: -200%;
    transition: all 1s;
    z-index: 10;
  }

  .responsive-button {
    width: 100%;
    border: 1px solid white;
    background-color: #5C7396;
    color: #FFFFFF;
    padding: 10px 0;
    position: relative;
    text-align: center;
    display: block;
  }

  .container__responsive-options.hidden {
    top: -200%;
  }

  .container__responsive-options.visible {
    top: 60px;
    left: 0;
  }
}
