<div class="container">
  <h2 class="font-weight-bold">Actualiza tus datos</h2>
<div class="content">
    <div class="contact-box">
                <h2 class="text-muted mb-5">Modifique la información que desee actualizar</h2>
                <form [formGroup]="myForm" class="form-row">
                        <mat-form-field class="form-group col-md-6">
                            <mat-label class="font-weight-bold">Dirección del establecimiento</mat-label>
                            <input formControlName="direccion" matInput [formControl]="input" class="form-control" placeholder="Ingresa la dirección del establecimiento">
                        </mat-form-field>
                        <mat-form-field class="form-group col-md-6">
                          <mat-label class="font-weight-bold">Correo del establecimiento</mat-label>
                            <input formControlName="correoContacto" matInput [formControl]="input" class="form-control" placeholder="Ingresa el correo">
                        </mat-form-field>
                        <mat-form-field class="form-group col-md-6">
                          <mat-label class="font-weight-bold">Número telefónico</mat-label>
                            <input formControlName="telefonoContacto" matInput [formControl]="input" class="form-control" placeholder="Ingresa el número de teléfono">
                        </mat-form-field>
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Distrito</mat-label>
                    <mat-select class="select" formControlName="distrito" placeholder="Seleccione su distrito"  [(value)]="idDistrito" required>
                              <mat-option *ngFor="let element of distritos" [value]="element.id">
                                {{element.nombreDistrito}}
                              </mat-option>
                           </mat-select>
                  </mat-form-field>
                  <button
                  mat-raised-button
                  class="btn btn-primary"
                  type="button"
                  (click)="updateFarmacia()">
                  Actualizar datos
                  </button>
                  <button
                  mat-raised-button
                  class="btn btn-primary"
                  type="button"
                  (click)="gotoHome()">
                  Cancelar
                  </button>
              </form>
          </div>
    </div>
  </div>
