<div class="container">
  <h2 class="title">Tus Stocks</h2>
  <div class="chartContainer">
      <div class="ReporteStockContainer chart">
          <h2 class="subtitle">Reporte de Stock por Producto</h2>
          <canvas id="canvas-doughnut" width="400" height="400" class="chart">
              {{chartdoughnut}}
          </canvas>
      </div>
      <div class="ReporteCategoriaContainer chart">
          <h2 class="subtitle">Reporte de Stock por Categoría</h2>
          <canvas id="canvas-bar" width="400" height="400" class="chart">
              {{chartBar}}
          </canvas>
      </div>
   </div>

</div>
