<div class="container">
  <form [formGroup]="myForm" class="my-form">
    <h2 class="text-center mb-4">Recuperar contraseña</h2>
      <div class="form-row">
            <mat-form-field class="form-group col-md-6">
              <label for="nombre">Ingresa tu número de DNI/RUC</label>
              <input matInput formControlName="id" type="text" class="form-control">
              <mat-error *ngIf="myForm.controls['id'].hasError('required')" class="message-error">Campo requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="form-group col-md-6">
              <label for="email">Correo electrónico</label>
              <input matInput formControlName="correo" type="email" class="form-control">
              <mat-error *ngIf="myForm.controls['correo'].hasError('required')" class="message-error">El correo electrónico es requerido</mat-error>
              <mat-error *ngIf="myForm.controls['correo'].hasError('email')" class="message-error">El correo electrónico es inválido</mat-error>
            </mat-form-field>
            <mat-form-field class="form-group col-md-6">
              <label for="password">Nueva Contraseña</label>
              <input matInput formControlName="contrasenia" type="password" class="form-control">
              <mat-error *ngIf="myForm.controls['contrasenia'].hasError('required')" class="message-error">La contraseña es requerida</mat-error>
              <mat-error *ngIf="myForm.controls['contrasenia'].hasError('minlenght')" class="message-error"> Tu contraseña debe tener como mínimo 8 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="form-group col-md-6">
              <label for="password">Confirmar Contraseña</label>
              <input matInput formControlName="confContrasenia" type="password" class="form-control">
              <mat-error *ngIf="myForm.controls['confContrasenia'].hasError('required')" class="message-error">Confirma tu contraseña</mat-error>
            </mat-form-field>

            <button
            class="update"
            mat-raised-button
            color="primary"
            (click)="updateContrasenia()"
            [disabled]="myForm.invalid">
            Actualizar contraseña
            </button>
          </div>
  </form>
</div>
