*{
  box-sizing: border-box;
}
.container{
  padding: 2rem;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-muted{
  color: rgb(129, 129, 129);
}

.form-row{
  display: grid;
  grid-template-columns: repeat(2,minmax(300px,1fr));
  column-gap: 3rem;
  row-gap: 2rem;
  background-color: #F0EFFF;
  padding: 2rem 1rem;
  border-radius: 15px;
}




@media only screen and (max-width: 1040px){
  .form-row{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }

  .container{
    padding: 2rem 0;
    width: 100%;
  }
}
