<div class="container">

  <h1 class="font-weight-bold title">Crea tu cuenta de Dueño de Farmacia</h1>
  <div class="content">
            <h2 class="text-muted">Ingrese la siguiente información para registrarte.</h2>
            <div class="form-container">
            <form [formGroup]="myForm" class="form-row" id="container" autocomplete="off">
              <div class="first-part">
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Nombre del dueño</mat-label>
                    <input formControlName="nombresDuenio" matInput class="form-control" placeholder="Ingresa su DNI">
                    <mat-error *ngIf="myForm.controls['nombresDuenio'].hasError('required')" class="message-error">Sus nombres son requeridos</mat-error>
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Apellidos del dueño</mat-label>
                    <input formControlName="apellidosDuenio" matInput class="form-control" placeholder="Ingresa sus nombres">
                    <mat-error *ngIf="myForm.controls['apellidosDuenio'].hasError('required')" class="message-error">Sus apellidos son requeridos</mat-error>
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Nombre del establecimiento</mat-label>
                    <input formControlName="nombreEstablecimiento" matInput class="form-control" placeholder="Ingresa su apellido paterno">
                    <mat-error *ngIf="myForm.controls['nombreEstablecimiento'].hasError('required')" class="message-error">El nombre del establecimiento es requerido</mat-error>
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Dirección del establecimiento</mat-label>
                    <input formControlName="direccion" matInput class="form-control" placeholder="Ingresa su apellido materno">
                    <mat-error *ngIf="myForm.controls['direccion'].hasError('required')" class="message-error">La dirección es requerida</mat-error>
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Correo del establecimiento</mat-label>
                    <input formControlName="correoContacto" matInput class="form-control" placeholder="Ingresa el correo">
                    <mat-error *ngIf="myForm.controls['correoContacto'].hasError('required')" class="message-error">El correo electrónico es requerido</mat-error>
                    <mat-error *ngIf="myForm.controls['correoContacto'].hasError('email')" class="message-error">El correo electrónico es inválido</mat-error>
                  </mat-form-field>

                <mat-form-field class="form-group col-md-6">
                  <mat-label class="font-weight-bold">RUC</mat-label>
                    <input formControlName="ruc" matInput class="form-control" placeholder="Ingresa el correo">
                    <mat-error *ngIf="myForm.controls['ruc'].hasError('required')" class="message-error">El RUC es requerido</mat-error>
                </mat-form-field>
                <div></div>
                <button mat-raised-button class="btn first-button" type="button" (click)="onNextClick()">Siguiente</button>
              </div>
              <div class="first-options">
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <mat-label class="form-check-label text-muted">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad</mat-label>
                    </div>
                </div>
                <div class="button-container">
                <button
                class="btn btn-primary"
                mat-raised-button
                (click)="saveFarmacia()"
                [disabled]="myForm.invalid"
                >
                Registrate
                </button>
                <button
                class="btn btn-primary"
                mat-raised-button
                routerLink="/home/registrotipo"
                >
                Cancelar
                </button>
                </div>
              </div>
              <div class="second-part">
                <mat-form-field class="form-group col-md-6">
                  <mat-label class="font-weight-bold">Número de celular</mat-label>
                  <input formControlName="telefonoContacto" matInput class="form-control" placeholder="Ingresa su número de contacto">
                  <mat-error *ngIf="myForm.controls['telefonoContacto'].hasError('required')" class="message-error">El número de contacto es requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="form-group col-md-6">
                  <mat-label class="font-weight-bold">Distrito</mat-label>
                  <mat-select class="select" formControlName="distrito" placeholder="Seleccione su distrito"  [(value)]="idDistrito" required>
                            <mat-option *ngFor="let element of distritos" [value]="element.id">
                              {{element.nombreDistrito}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-6">
                  <mat-label class="font-weight-bold">Contraseña</mat-label>
                  <input formControlName="contraseña" type="password"  matInput class="form-control" placeholder="Ingrese su dirección">
                  <mat-error *ngIf="myForm.controls['contraseña'].hasError('required')" class="message-error">La dirección es requerida</mat-error>
                  <mat-error *ngIf="myForm.controls['contraseña'].hasError('minlength')" class="message-error">Tu contraseña debe tener como mínimo 8 caracteres</mat-error>
                </mat-form-field>
                <mat-form-field class="form-group col-md-6">
                  <mat-label class="font-weight-bold">Confirmar contraseña</mat-label>
                  <input formControlName="confContraseña" type="password"  matInput class="form-control" placeholder="Repita su contraseña">
                  <mat-error *ngIf="myForm.controls['confContraseña'].hasError('required')" class="message-error">Repita su contraseña</mat-error>
                </mat-form-field>
                <button mat-raised-button class="btn second-button" type="button" (click)="onPreviousClick()">Anterior</button>
              </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <mat-label class="form-check-label text-muted">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad</mat-label>
                    </div>
                </div>
                <div class="button-container">
                <button
                class="btn btn-primary"
                mat-raised-button
                (click)="saveFarmacia()"
                [disabled]="myForm.invalid"
                >
                Registrate
                </button>
                <button
                class="btn btn-primary"
                mat-raised-button
                routerLink="/home/registrotipo"
                >
                Cancelar
                </button>
                </div>
            </form>
          </div>
</div>
</div>

