*{
  box-sizing: border-box;
}
.container{
  padding: 2rem;
  background: linear-gradient(to bottom, #3f51b5, #6691e3);
  min-height: 100vh;

}


.text-muted{
  color: rgb(202, 202, 202);
  width: 100%;
}

.title{
  font-weight: bold;
  color: #FFF;
}


.form-check-label{
  width: 100%;
}


.form-row{
  width: 710px;
  background: #F0EFFF;
  height: 505px;
  overflow: hidden;
}

.schedule{
  font-size: 20px;
}

.first-part, .second-part{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 1rem 2rem;
  height: 400px;
  background: transparent;
}

.second-part{
  margin-top: 10px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-container{
  padding: 2rem;
  background: #F0EFFF;
  border-radius: 15px;
}

.btn{
  width: 200px;
  height: 50px;
}

.form-check{
  text-align: center;
  padding: 1rem 0;
}

.button-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn-primary{
  background: #3f51b5;
  color: #FFF;
}


@media only screen and (max-width: 800px){
  .container{
    padding: 2rem 0;
  }

  .first-part, .second-part{
    display: block;
    height: auto;
  }

  .form-row{
    width: 100vw;
    padding: 10px;
    overflow: auto;
  }

  .col-md-6{
    width: 100%;
  }

  .form-container{
    padding: 1rem 0;
  }

  .second-button, .first-options, .first-button{
    display: none;
  }

  .second-part{
    margin: 0;
  }

  .button-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    row-gap: 1rem;
    column-gap: .8rem;
  }

  .btn{
    width: 100%;
  }

}



