<div class="container">
  <h2 class="font-weight-bold">Actualiza tus datos</h2>
<div class="content">
    <div class="contact-box">
                <h2 class="text-muted mb-5">Modifique la información que desee actualizar</h2>
                <form [formGroup]="myForm" class="form-row">
                        <mat-form-field class="form-group col-md-6">
                            <mat-label class="font-weight-bold">DNI</mat-label>
                            <input formControlName="dni" matInput class="form-control" placeholder="Ingresa tu número de DNI" readonly>
                        </mat-form-field>
                        <mat-form-field class="form-group col-md-6">
                          <mat-label class="font-weight-bold">Nombres</mat-label>
                            <input formControlName="nombres" matInput class="form-control" placeholder="Ingresa tu nombre" readonly>
                        </mat-form-field>
                        <mat-form-field class="form-group col-md-6">
                          <mat-label class="font-weight-bold">Apellido Paterno</mat-label>
                            <input formControlName="apellidoPaterno" matInput class="form-control" placeholder="Ingresa tus apellido paterno" readonly>
                        </mat-form-field>
                        <mat-form-field class="form-group col-md-6">
                            <mat-label class="font-weight-bold">Apellido Materno</mat-label>
                            <input formControlName="apellidoMaterno" matInput class="form-control" placeholder="Ingresa tus apellido materno" readonly>
                        </mat-form-field>
                    <mat-form-field class="form-group col-md-6">
                      <mat-label class="font-weight-bold">Correo electrónico</mat-label>
                      <input formControlName="correo" type="email" matInput class="form-control" placeholder="Ingresa tu correo electrónico">
                      <mat-error *ngIf="myForm.controls['correo'].hasError('required')" class="message-error">El correo electrónico es requerido</mat-error>
                      <mat-error *ngIf="myForm.controls['correo'].hasError('email')" class="message-error">El correo electrónico es inválido</mat-error>
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Número de Celular</mat-label>
                    <input formControlName="celular" type="number" matInput class="form-control" maxlength="9" placeholder="Ingresa tu número de celular">
                    <mat-error *ngIf="myForm.controls['celular'].hasError('required')" class="message-error">El número de celuar es requerida</mat-error>
                    <mat-error *ngIf="myForm.controls['celular'].hasError('min')" class="message-error">Debe tener 9 dígitos y comenzar con 9</mat-error>
                    <mat-error *ngIf="myForm.controls['celular'].hasError('max')" class="message-error">Máximo de 9 dígitos</mat-error>
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Dirección</mat-label>
                    <input formControlName="direccion" matInput placeholder="Ingrese su dirección" type="text" class="form-control">
                    <mat-error *ngIf="myForm.controls['direccion'].hasError('required')" class="message-error">La dirección es requerida</mat-error>
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-6">
                    <mat-label class="font-weight-bold">Distrito</mat-label>
                    <mat-select class="select" formControlName="distrito" placeholder="Seleccione su distrito"  [(value)]="idDistrito" required>
                              <mat-option *ngFor="let element of distritos" [value]="element.id">
                                {{element.nombreDistrito}}
                              </mat-option>
                           </mat-select>
                  </mat-form-field>
                  <button
                  mat-raised-button
                  class="btn btn-primary"
                  type="button"
                  [disabled]="myForm.invalid"
                  (click)="updateCliente()">
                  Actualizar datos
                  </button>
                  <button
                  mat-raised-button
                  class="btn btn-primary"
                  type="button"
                  (click)="gotoHome()">
                  Cancelar
                  </button>
              </form>
          </div>
    </div>
  </div>
