<div class="container">

  <form [formGroup]="myForm" autocomplete="off" class="my-form">
    <div class="form-row">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <div class="icon-container">
            <mat-icon class="icon">person</mat-icon>
        </div>
        <div class="form-row">
        <mat-form-field class="form-group col-md-6">
          <label for="email">Correo electrónico</label>
          <input matInput formControlName="correo" type="email" class="form-control">
          <mat-error *ngIf="myForm.controls['correo'].hasError('required')" class="message-error">El correo electrónico es requerido</mat-error>
          <mat-error *ngIf="myForm.controls['correo'].hasError('email')" class="message-error">El correo electrónico es inválido</mat-error>
        </mat-form-field>
        <mat-form-field class="form-group col-md-6">
          <label for="email">Contraseña</label>
          <input matInput formControlName="contraseña" type="password" class="form-control">
          <mat-error *ngIf="myForm.controls['contraseña'].hasError('required')" class="message-error">La contraseña es requerida</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="validate()" color="primary" class="button">Iniciar Sesión</button>
        <div class="more-options">
            <p class="link" routerLink="../RecuperaCuenta">¿Has olvidado tu contraseña?</p>
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad
            </p>
            <p>¿No tienes una cuenta? <b class="link" routerLink="../registrotipo" >Registrate</b></p>
        </div>
      </div>
    </div>
</form>

</div>


