*{
  box-sizing: border-box;
}

.container{
  background: linear-gradient(to bottom, #3f51b5, #6691e3);
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-form{
  width: 450px;
  height: 600px;
  background: rgba(255, 255, 255, .2);
  position: relative;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}
.text-center{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 25px;
  margin-bottom: 30px;
}

.form-row{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  }

.form-group, .button {
  width: 90%;
  color: #fff;
}

#mensaje{
  resize: none;
  height: 80px;
}

.message-error{
  color: rgb(100, 1, 1);
}

.button{
  margin-top: 10px;
}

.link{
  cursor: pointer;
  font-weight: bolder;
}

.more-options{
  padding-top: 30px ;
  text-align: center;
  color: #FFF;
}

.icon-container{
  background: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.icon{
  width: 100px;
  height: 100px;
  font-size: 100px;
  color: #3f51b5;
}

@media only screen and (max-width: 500px){

  .container{
    align-items: flex-start;
    padding: 2rem 0;
  }

}
